@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 15vh 2vw 2px 12vw;
}

p {
  color: #9DA5A7;
}

body {
  margin: 0;
  padding: 0;
  color: #4B6781;
}

/*#region NAVBAR */
.custom-nav {
  margin-top: 0px;
  width: 100%;
  height: 4em;
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 5px;
  position: fixed;
  z-index: 9999;
  background-color: white;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.custom-nav>.control-area>.navbar-controls>.btn.btn-link {
  background: none;
  border: none;
  margin: 0px 20px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  justify-content: space-around;
  text-decoration: none;
}

.custom-nav>.custom-logo {
  width: 12vw;
  height: 12vw;
  align-self: flex-start;
}

.custom-nav>.custom-logo>img {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.custom-nav>.control-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  height: 100%;
  padding: 0px 20px;
}

.custom-nav>.control-area>.header-text-area {
  align-self: left;
}

.custom-nav>.control-area>.social-bttn-area {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*#endregion NAVBAR */

/*#region SIDE CARD */
.side-card {
  position: absolute;
  background-color: white;
  z-index: 9999;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.2);
  top: 15vw;
  left: 0px;
  max-width: 32vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 20px;
  min-height: 15vh;
}


.side-card>h1 {
  color: #2289FF;
  font-weight: bold;
  font-size: 8vh;
}

.side-card>p {
  color: #7c90a3;
  font-weight: bold;
  font-size: 2vh;
  margin-left: 15px;

}

.side-card>button {
  padding: 15px;
  margin-left: 15px;
}

/*#endregion SIDE CARD */

/*#region CAROUSEL*/
.carousel-indicators>button {
  border-radius: 50%;
  height: 2vh !important;
  width: 2vh !important;
  background-color: rgb(20, 57, 91) !important;
  border: 1.5px solid rgb(40, 150, 200) !important;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  height: 100%;
  border-radius: 12px;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel>.carousel-inner>.carousel-item>img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/*#endregion CAROUSEL*/

/*#region CUSTOM CARD*/
.custom-card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.custom-card {
  border: none;
  width: 15vw;
  height: 50vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
}

.custom-card>h1 {
  font-size: 1.2rem;
  color: #5C758D;
  margin: 15px 0px;
}


.custom-card>img {
  width: 100%;
  height: 150px;
  object-fit: fill;
  border-radius: 12px;
  padding: 0px;
  margin: 0px;
}

.custom-card>span {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #A9AFB1;
}

.custom-card:hover {
  background-color: #2289FF;
  cursor: pointer;
}

.custom-card:hover>h1,
.custom-card:hover>span {
  color: white;
}

/*#endregion CUSTOM CARD*/

/*#region SYMBOL CARDS*/

.symbol-card-area {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 8vh 8vw;
}

.symbol-card {
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  margin: 5px 5px;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}


.symbol-card>.fas {
  font-size: 4em;
  color: rgb(0, 60, 100)
}

.symbol-card:hover {
  background-color: rgb(0, 100, 250);
}


.symbol-card:hover>* {
  z-index: 99999;
}

.symbol-card:hover:before {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  transform: translateY(35%) translateX(35%);
  left: 0px;
  top: 0px;
  content: "";
}

/*#endregion SYMBOL CARDS*/

/*#region SIMPLE CARD*/

.simple-card {
  margin: 10px;
  border: 1px solid #2673AA;
  padding: 5vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.simple-card>h1 {
  font-size: 1.5rem;
  color: #5A748C;
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;
}

.simple-card>p {
  color: #9DA5A7;
}

/*#endregion SIMPLE CARD*/

/*#region BANNER SECUNDÁRIO*/

.custom-banner-video {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.banner-text-content {
  max-width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
}

.banner-text-content>p {
  font-size: 6vh;
  color: rgb(10, 50, 100)
}

.banner-text-content>p>span {
  font-size: 7vh;
  color: rgb(50, 150, 210)
}

.banner-text-content>button {
  width: 50%;
  font-size: 2rem;
  padding: 10px;
}

.banner-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 55%;
  height: 50%;
}

.banner-area>.dots {
  position: absolute;
  z-index: -1;
  height: 15vw;
  width: 15vw;
  top: -3vw;
  left: -4vw;
  border-radius: 0px;
  box-shadow: none;
  background: transparent url("media/background.svg") round;
  background-size: 15vh;
}

.banner-area>div {
  height: 80vh;
  width: 100%;
  border-radius: 30px;
  background-color: rgba(250, 250, 250, .2);
  padding: 15px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.banner-area>div>img.banner {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(0, 200, 20, .5);
}


.custom-video-frame {
  position: absolute;
  bottom: 3vh;
  left: -40%;
  transform: translate(40%);
  border-radius: 30px;
  height: 15vw;
  width: 25vw;
}

/*#endregion BANNER SECUNDÁRIO*/


/*#region CARD CAROUSEL*/
.carousel-card-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-card-a {
  width: 20vw;
  height: fit-content;
  margin: 60px 30px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}


.custom-card-a>img {
  width: 100%;
  height: 25vh;
  min-height: 180px;
  object-fit: fill;
  border-radius: 15px;
  margin: 0px;
  padding: 0px;
  justify-self: flex-start !important;
}

.custom-card-a>h1 {
  margin: 0px;
  margin-top: 5rem;
  margin-bottom: 15px;
  color: black;
  font-size: 1.5rem;
}

.custom-card-a>p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 15px;
}

.custom-card-a:hover>p,
.custom-card-a:hover>h1 {
  color: white;
}

.custom-card-a:hover {
  cursor: pointer;
  background-color: #2289FF;
}

/*#endregion CARD CAROUSEL*/

/*#region CUSTOM FOOTER*/

.custom-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-banner {
  background-image: url("https://via.placeholder.com/500/EBEBEB");
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  text-align: center;
  color: white;
  height: 80vh;
  opacity: 0.65;

}

.footer-banner>p {
  font-size: 3vh;
  font-weight: 400;
  color: #14395B;
}

.footer-banner>button {
  padding: 2vh;
  border-radius: 15px;
  font-size: 2rem;
}

.footer-contact-area {
  display: flex;
  background-color: rgb(20, 50, 90);
  width: 100%;
  justify-content: space-evenly;
}

.footer-social-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social-area>img {
  width: 50%;
  height: 50%;
  object-fit: fill;
}

.footer-contact-data {
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.footer-contact-data>p {
  font-size: .8rem;
  color: white;

}

.footer-contact-data>h1 {
  color: white;
  margin: 2vh 0px;
  padding: 0px;
}

.footer-copyright {
  border-top: 2px solid white;
  background-color: rgb(20, 50, 90);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
}

/*#endregion CUSTOM FOOTER*/

/*ICONS*/
.fab {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 0px 5px;
  color: white;

}

.fab:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 1) !important;
  color: white !important;
}

.fa-facebook-f {
  background: #3B5998;
}

.fa-linkedin {
  background: #4376B1;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

/* HEADERS */


h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(40, 50, 80);
  margin: 1rem;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

h1,
h2,
h3 {
  margin-bottom: 3rem;
}

@media (max-width:1000px) {



  .custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0vh 5vw !important;
    margin: 15vh 0vh !important;
  }

  /* ajusta a section o footer para ajustar a largura total da pagina */
  .custom-container:last-of-type {
    padding: 0px !important;
    margin-bottom: 0px !important;
  }

  .custom-container>h1 {
    margin: 2rem !important;
  }

  /* define o tamanho do banner inicial */
  .custom-container:nth-of-type(1) {
    height: 50vh !important;
  }


  /*#region SIDE CARD */
  .side-card {
    position: relative;
    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.2);
    left: 0px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }


  .side-card>h1 {
    color: #2289FF;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  .side-card>p {
    color: #7c90a3;
    font-weight: bold;
    font-size: 10px;
    margin-left: 15px;
  }

  .side-card>button {
    padding: 10px;
    margin-left: 15px;
  }

  /*#endregion SIDE CARD */

  /*#region NAVBAR */
  .custom-nav {
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    font-weight: 500;
  }

  .custom-nav>.control-area>.navbar-controls>.btn.btn-link {
    background: none;
    border: none;
    margin: 0px 1vw !important;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    justify-content: space-around;
    text-decoration: none;
    font-size: 10px;
  }

  .custom-nav>.custom-logo {
    align-self: center;
    justify-self: center;
    width: 10vw;
  }

  .custom-nav>.custom-logo>img {
    border-radius: 10%;
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  .custom-nav>.control-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    height: 100%;
    padding: 0px 1vw;
  }

  .custom-nav>.control-area>.header-text-area {
    align-self: left;
    font-size: 10px;
    text-align: center;
  }

  .custom-nav>.control-area>.social-bttn-area {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
  }

  /*#endregion NAVBAR */

  /*#region CAROUSEL*/

  /*#endregion CAROUSEL*/

  /*#region CUSTOM CARD*/
  .custom-card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0 em;
  }

  .custom-card {
    border: none;
    width: 40vw;
    height: 50vh;
    padding: 1em;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
  }

  .custom-card>h1 {
    font-size: 1.2rem;
    color: #5C758D;
    margin: 15px 0px;
  }


  .custom-card>img {
    width: 100%;
    height: 20vh;
    object-fit: fill;
    border-radius: 12px;
    padding: 0px;
    margin: 0px;
  }

  .custom-card>span {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #A9AFB1;
  }

  .custom-card:hover {
    background-color: #2289FF;
    cursor: pointer;
  }

  .custom-card:hover>h1,
  .custom-card:hover>span {
    color: white;
  }

  /*#endregion CUSTOM CARD*/

  /*#region SYMBOL CARDS*/

  .symbol-card-area {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0em;
    margin: 0em;
  }

  .symbol-card {
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    padding: 4em;
    font-weight: 700;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    position: relative;
  }


  .symbol-card>.fas {
    font-size: 3em;
    color: rgb(0, 60, 100)
  }


  /* #endregion SYMBOL CARDS */

  /*#region BANNER SECUNDÁRIO*/

  .custom-banner-video {
    display: flex;
    align-items: stretch;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .banner-text-content {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0px 3vw;
    margin: 5vh 0vh;
  }

  .banner-text-content>p {
    font-size: 4vh;
    color: rgb(10, 50, 100);
    text-align: center;
  }

  .banner-text-content>p>span {
    font-size: 5vh;
    color: rgb(50, 150, 210)
  }

  .banner-text-content>button {
    font-size: 4vh;
    padding: 10px;
    align-self: center;
    width: fit-content;
  }

  .banner-area {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
    position: relative;
    flex-wrap: wrap;
    width: 94vw;
    height: 50%;
  }

  .banner-area>.dots {
    position: absolute;
    z-index: -1;
    height: 15vw;
    width: 15vw;
    top: -3vw;
    left: -4vw;
    border-radius: 0px;
    box-shadow: none;
    background: transparent url("media/background.svg") round;
    background-size: 15vh;
  }

  .banner-area>div {
    height: 50%;
    width: 100%;
    border-radius: 30px;
    background-color: rgba(250, 250, 250, .2);
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  }

  .banner-area>div>img.banner {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(0, 200, 20, .5);
  }


  .custom-video-frame {
    position: relative;
    bottom: 0vh;
    left: 0%;
    transform: translate(0%);
    border-radius: 30px;
    height: 50vh;
    width: 100%;
  }

  /*#endregion BANNER SECUNDÁRIO*/

  /*#region CARD CAROUSEL*/
  .carousel-card-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5vh 0px;
  }

  .custom-card-a {
    width: 80vw;
    height: fit-content;
    margin: 5vh 3vw;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }


  .custom-card-a>img {
    width: 100%;
    height: 25vh;
    min-height: 180px;
    object-fit: fill;
    border-radius: 15px;
    margin: 0px;
    padding: 0px;
    justify-self: flex-start !important;
  }

  .custom-card-a>h1 {
    margin: 0px;
    margin-top: 5rem;
    margin-bottom: 15px;
    color: black;
    font-size: 1.5rem;
  }

  .custom-card-a>p {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 15px;
  }

  /*#endregion CARD CAROUSEL*/

  /*#region CUSTOM FOOTER*/

  .custom-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-banner {
    background-image: url("https://via.placeholder.com/500/EBEBEB");
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    text-align: center;
    color: white;
    height: 50vh;
    opacity: 65;

  }

  .footer-banner>p {
    font-size: 8px;
    font-weight: 400;
    color: #14395B;
  }

  .footer-banner>button {
    padding: 2vh;
    border-radius: 15px;
    font-size: 14px;
  }

  .footer-contact-area {
    display: flex;
    background-color: rgb(20, 50, 90);
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .footer-social-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  .social-bttn-area {
    margin: 1vh !important;
  }

  .footer-social-area>img {
    width: 50%;
    height: 50%;
    object-fit: fill;
  }

  .footer-contact-data {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 25vw;
  }

  .footer-contact-data>p {
    font-size: 10px;
    color: white;
    word-wrap: break-word;
    line-height: normal;

  }

  .footer-contact-data>h1 {
    font-size: 2vh;
    margin: 1rem 0px;
    padding: 0px;
    text-align: left;
    color: white;
  }

  .footer-copyright {
    border-top: 2px solid white;
    background-color: rgb(20, 50, 90);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  /*#endregion CUSTOM FOOTER*/
}